
/**
 * General layout
 **/

body, html {
	position: relative;
	height: 100%;
}

.main {
	&.has-sidebar {
		@include col(2,3,20px);
	}
	
}

.inner {
	max-width: 950px;
	margin: 0 auto;
}

.cf {
	@include clearfix();
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}
hr {

}

.col {
	&.third {
		@include col(1,3,20px);
	}
	&.two-thirds {
		@include col(2,3,20px);
	}
}

.table {	
	.row {
		@include clearfix();
		
		&.heading {
			font-weight: bold;
			border-bottom: 1px solid $light_grey;
		}
	}
}

/**
 * Page header
 **/

.page-header {
	padding: 20px 0;
	text-align: right;

	.inner {
		/*max-width: 100%;
		padding: 0 20px;*/
	}
	.logo {
		width: 130px;
		float: left;
		display: block;
		margin-right: 20px;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	h1 {
		font-size: 5rem;
		
	}

	h2 {
		font-size: 3.2rem;
		margin: 0;
	}
}

/**
 * Page
 **/
.page {
	margin: 50px 0;
}

.excerpt {
	border-top: 1px solid $grey;

	.inner {
		max-width: 850px;
		padding: 0 50px;
		margin-top: 20px;
		position: relative;

		p {
			font-family: 'Droid Serif', serif;
			color: $red;
			font-size: 1.5rem !important;
			line-height: 1.5em !important;
			font-style: italic;
			text-align: center;
			padding: 0 20px;
		}

		.dots {
			position: absolute;
			top: 50%;
			height: 100%;

			.dot{
				width: 10px;
				height: 10px;
				display: block;
				float: left;
				background: $red;
				border-radius: 5px;
				position: relative;
				margin-top: -5px;

				&.small {
					width: 6px;
					height: 6px;
					margin-top: -3px;
				}

				&.med {
					width: 8px;
					height: 8px;
					margin-top: -4px;
				}
			}

			&.left {
				left: 0;
				.dot {
					margin-right: 7px;
				}
			}

			&.right {
				right: 0;
				.dot {
					margin-left: 7px;
				}
			}
		}

	}


}

/**
 * Sidebar
 **/
.sidebar {
	@include col(1,3,20px);

	.buy-button {
		display: block;
		text-align: center;
		background: $black;

		.liner {
			padding: 20px;

			span {
				color: $grey;
			}
		}

		&:hover {
			background: lighten($black, 5%);
			span {
				color: $white;
			}
		}
	}

}
 
 

footer {
	&.page-footer {
		background: $red;
		color: $white;
		padding: 20px 0;
	}
}