
/**
 * Responsive
 **/
@media all and (max-width: 1600px) {
	
}

@media all and (max-width: 1000px) {
	.inner {
		padding: 0 20px;
	}

	.excerpt {
		.inner {
			margin: 20px 20px 0 20px;
		}
	}
	.page-footer {
		.logo {
			right: 20px !important;
		}
	}
}

@media all and (max-width: 800px) {

	.homepage {

		section {
			&.grid {

				.item {

					h3 {
						font-size: 1.5rem;
					}
				}
			}
		}

	}

	.page-header {

		.logo {
			width: 100px;
		}

		h1 {
			font-size: 4rem;
			
		}

		h2 {
			font-size: 2.55rem;
		}
	}

	section {
		.row {
			.col {
				@include col(1,3)
			}
		}
	}

	/*section {
		&.grid {
			.item {
				@include grid( $cols: 2, $col_gap: 2%)
			}
		}
	}*/
}

@media all and (max-width: 700px) {

	.main {
		&.has-sidebar {
			@include col(1,2,20px);
		}
		
	}

	.sidebar {
		@include col(1,2,20px);
	}

	.page-header {

		.logo {
			width: 75px;
		}

		h1 {
			font-size: 3rem;
			
		}

		h2 {
			font-size: 1.9rem;
		}
	}

	.homepage {

		.col {
			&.third {
				@include col(1,1,0px);
			}
			&.two-thirds {
				@include col(1,1,0px);
			}
		}

		section {
			&.grid {

				.item {

					h3 {
						font-size: 1.2rem;
					}
				}
			}
		}

	}
}

@media all and (max-width: 600px) {

	.main {
		&.has-sidebar {
			@include col(1,1,0px);
		}
		
	}

	.sidebar {
		@include col(1,1,0px);
	}

	.page-header {
		padding: 20px 60px 20px 0;
		text-align: left;
		border-bottom: 9px solid $red;
	}

	/*.col {
		width: 100% !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
		float: none !important;
	}*/
	
	/* navigation */
	.hamburglar {
		display: block;
	}

	nav {
		&.mainnav {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			bottom: 0;
			left: 100%;
			text-align: right;
			padding-bottom: 5px;

			.menu {
				padding-right: 60px;
			}

			li {
				display: block;
				margin: 0;
				a {
					padding: 5px 0;
					border-bottom: 1px solid $white;

					&:hover,
					&.current,
					&.section {
						border-bottom: 1px solid $white;
					}
					&.current,
					&.section {
						background: $red;
						color: $white;
						font-weight: 700;
					}
					.toggle-button {
						display: block;
					}
				}

				.menu.level-2 {
					position: relative;
					width: 100%;
					padding-right: 0;
					background: darken($red, 3%);

					li {
						a {
							padding-right: 10px;
							color: $white;
							background: darken($red, 3%);
							border-bottom: 1px solid $white;
						}
					}
				}
			}
		}

	}

	section {
		.row {
			.col {
				@include col(1,1);
			}
		}
	}

	/*section {
		&.grid {
			.item {
				@include grid( $cols: 1, $col_gap: 2%);
			}
		}
	}*/
	
}

@media all and (min-width: 551px) {

	.homepage {

		section {
			&.grid {

				.item {
					@include grid( $cols: 3, $col_gap: 2% );
				}
			}
		}
	}

}



@media all and (max-width: 550px) {

	.homepage {

		section {
			&.grid {

				.item {
					&.first {
						width: 100%;
						margin-bottom: 20px;
						.liner {
							padding-bottom: 55%;
							.inner {
								padding-top: 35%;
								
							}
						}

					}

					&.middle,
					&.last {
						width: 47%;
					}

					&.middle {
						margin-right: 3%;

					}

					&.last {
						margin-left: 3%;

					}

					h3 {
						font-size: 1.5rem;
					}
				}
			}
		}
	}
	
}