/**
 * Colours
 **/

$black: #1E1E1E;
$white: #FFFFFF;
$red: #770f0f;
$grey: #BBBBBB;
$light_grey: #EEEEEE;
$blue: #06b8e4;
$orange: #ffa619;
$green: #69bd45;
$yellow: #ffd02c;

.black-text { 				color: $black !important; }
.blue-text { 				color: $blue !important; }
.grey-text {				color: $grey !important; }
.green-text {				color: $green !important; }
.yellow-text {				color: $yellow !important; }
.red-text {					color: $red !important; }

.black-bg { 		background-color: $black !important; }
.blue-bg { 			background-color: $blue !important; }
.grey-bg {			background-color: $grey !important; }
.green-bg {			background-color: $green !important; }
.yellow-bg {		background-color: $yellow !important; }
.red-bg {			background-color: $red !important; }

