
/**
 * NAV PRIMARY
 **/

 nav {

	&.mainnav {
		background: $red;
		text-align: center;
		padding-top: 5px;
		li {
			display: inline-block;
			/*margin-right: 10px;*/
			position: relative;
			&.last {
				margin-right: 0;
			}

			a {
				/*font-family: 'Droid Serif', serif;
				font-weight: 700;*/
				text-transform: uppercase;
				padding: 3px 10px;
				display: block;
				text-decoration: none;
				color: $white;
				border-bottom: 5px solid $red;
				position: relative;
				&.current, &.section {
					background: $white;
					color: $red;
					border-color: $white;
				}

				&:hover {
					border-bottom: 5px solid $white;
				}

				&.toggle-button {
					padding-right: 2em;
					.fa {
						position: absolute;
						right: 0.5em;
						height: 1em;
						width: 1em;
						line-height: 1.5em;
						font-size: 1em;
					}
				}
			}

			.menu.level-2 {
				position: absolute;
				display: none;
				background: $light_grey;
				min-width: 100%;
				li {
					display: block;
					margin: 0;
					a {
						display: block;
						white-space: nowrap;
						background: $light_grey;
						color: $black;
						border-bottom: 1px solid $white;
						&:hover {
							border-bottom: 1px solid $grey;
						}
					}
				}
			}

			&:hover {
				.menu.level-2 {
					/*display: block;*/
				}
			}
		}
	}

}

.hamburglar {
    display: none;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 13;
	cursor: pointer;
	
	span {
		display: block;
		position: absolute;
		height: 20%;
		width: 100%;
		background: $black;
		opacity: 1;
		@include rotate(0deg);
		@include transition($property: all, $time: 0.25s, $mode: ease-in-out);
		
		&:nth-child(1) { top: 0; }
		&:nth-child(2) { top: 40%; }
		&:nth-child(3) { bottom: 0; }
	}
	
	&.open {
		position: fixed;
		span { background: $white; }
		span:nth-child(2) {
			opacity: 0;
			width: 0;

		}
		span:nth-child(1) {
			@include rotate(45deg);
			width: 120%;
			top: 40%;
		}
		span:nth-child(3) {
			@include rotate(-45deg);
			width: 120%;
			bottom: 40%;
		}
	}
}