
/**
 * NAV PRIMARY
 **/

 nav {

	&.mainnav {
		background: $red;
		text-align: center;
		padding-top: 5px;
		position: relative;
		li {
			display: inline-block;
			/*margin-right: 10px;
			position: relative;*/
			&.last {
				margin-right: 0;
			}

			a {
				/*font-family: 'Droid Serif', serif;
				font-weight: 700;*/
				text-transform: uppercase;
				padding: 3px 10px;
				display: block;
				text-decoration: none;
				color: $white;
				border-bottom: 5px solid $red;
				position: relative;
				/*position: relative;*/
				&.current, &.section {
					background: $white;
					color: $red;
					border-color: $white;
				}

				&:hover {
					/*border-bottom: 5px solid $white;
					background: darken( $red, 5% );*/
				}

				.toggle-button {
					height: 100%;
					width: 30px;
					line-height: 1.5em;
					font-size: 1em;
					text-align: center;
					background: lighten($red, 3%);
					display: none;
				}

				&:hover {
					.point {
						display: block;
					}
				}
			}

			.menu.level-2 {
				display: none;
			}

		}
	}

}

.hamburglar {
    display: none;
	width: 35px;
	height: 35px;
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 13;
	cursor: pointer;
	
	span {
		display: block;
		position: absolute;
		height: 20%;
		width: 100%;
		background: $red;
		opacity: 1;
		@include rotate(0deg);
		@include transition($property: all, $time: 0.25s, $mode: ease-in-out);
		
		&:nth-child(1) { top: 0; }
		&:nth-child(2) { top: 40%; }
		&:nth-child(3) { bottom: 0; }
	}
	
	&.open {
		position: fixed;
		span { background: $white; }
		span:nth-child(2) {
			opacity: 0;
			width: 0;

		}
		span:nth-child(1) {
			@include rotate(45deg);
			width: 120%;
			top: 40%;
		}
		span:nth-child(3) {
			@include rotate(-45deg);
			width: 120%;
			bottom: 40%;
		}
	}
}