
/**
 * BLOG
 **/

.blog {

	section {
		&.grid {
			margin-top: 20px;

			.item {
				color: $black;
				background: $light-grey;
				border: none;
				@include grid( 3, 2% );
				text-decoration: none;

				.liner {
					padding: 10px 20px;

					h3 {
						font-size: 1.5rem;
					}

					p {
						font-size: 1rem;
					}
					
				}

				.readmore {
						padding: 10px;
						background: $grey;
						color: $black;
						font-size: 1rem;
						text-align: right;

					}

				&:hover {
					.readmore {
						background: $black;
						color: $white;
					}
				}
			}
		}
	}

	.pagination {
		text-align: center;
		margin-top: 60px;

		span {
			font-size: 1rem;
		}
	}

	.tag {
		margin-bottom: 7px;
	}

}

.blog-post {

	header {
		border-bottom: 1px solid $light_grey;
		margin-bottom: 20px;
	}

	.blog-post-meta {
		font-size: 1rem;
		border-top: 1px solid $light_grey;
		margin-top: 20px;
		padding-top: 20px;
	}
}